<h1>Data Preprocessing</h1>
<li>Steps that need to be done after the data arrives in the program
<li>Data may need to be cleaned
<ul>
<li>Remove "bad" data
<li>handle "missing" data 
</ul>
<li>Make sure all data is in the correct format(s)

<h2>NYC 311 Data</h2>
<li>Service requests made to the 311 number</li>
<li>https://data.cityofnewyork.us/dataset/311-Service-Requests-From-2011/fpz8-jqf4
<li>We'll work with a small extract of the data
<ul>
<li>8 columns (out of about 58 in the full dataset)
<li>two months of data (out of 7 years of data
</ul>
<li>Even this is quite a bit!

In [7]:
datafile = "nyc_311_data_subset_small.csv"

In [8]:
import pandas as pd
import numpy as np

<h4><b>read_csv</b>: A pandas function that reads a comma separated file</h4>
read_csv will try to format the data so that it is the correct type and will report any typing problems<br>
It will also look for a header row. 
<br>http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html
<p>
read_csv returns a pandas DataFrame

In [9]:
df = pd.read_csv(datafile)
df

/Users/chloesuridis/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unique Key,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
0,1,10/11/2016 11:53:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
1,2,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
2,3,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
3,4,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
4,5,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN
5,6,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
6,7,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
7,8,10/11/2016 11:44:00 AM,NaN,DSNY,NaN,QUEENS,NaN,NaN
8,9,10/11/2016 12:35:00 PM,10/11/2016 12:35:00 PM,DSNY,NaN,QUEENS,NaN,NaN
9,10,10/11/2016 11:26:00 AM,05/27/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
10,11,09/01/2016 12:33:42 AM,09/16/2016 01:06:56 AM,DCA,10001,MANHATTAN,40.744790,-73.988834
11,12,09/01/2016 08:16:24 PM,09/10/2016 06:08:25 PM,HPD,11691,QUEENS,40.600554,-73.750704
12,13,09/01/2016 12:17:00 PM,09/07/2016 12:00:00 PM,DSNY,11211,BROOKLYN,40.704925,-73.962007
13,14,09/01/2016 12:10:22 PM,09/10/2016 02:23:44 PM,HPD,10027,MANHATTAN,40.812322,-73.955338
14,15,09/01/2016 12:32:32 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534
15,16,09/01/2016 08:16:24 PM,09/10/2016 06:08:24 PM,HPD,11691,QUEENS,40.600554,-73.750704
16,17,09/01/2016 08:35:00 AM,09/07/2016 12:00:00 PM,DSNY,11428,QUEENS,40.721866,-73.745982
17,18,09/01/2016 01:19:42 PM,09/16/2016 02:32:35 PM,DOT,11101,QUEENS,40.746875,-73.952711
18,19,09/01/2016 11:00:00 AM,09/08/2016 12:00:00 PM,DSNY,10075,MANHATTAN,40.773336,-73.955054
19,20,09/01/2016 11:45:00 AM,09/03/2016 12:00:00 PM,DSNY,11215,BROOKLYN,40.662002,-73.983668
20,21,09/01/2016 10:11:45 AM,09/16/2016 11:11:38 AM,DOT,11101,QUEENS,40.745492,-73.953174
21,22,09/01/2016 08:22:53 AM,09/16/2016 07:42:02 AM,DOT,11210,BROOKLYN,40.631530,-73.954573
22,23,09/01/2016 05:31:04 PM,09/16/2016 10:10:02 AM,DOT,11231,BROOKLYN,40.677629,-73.998190
23,24,09/01/2016 08:50:41 AM,09/16/2016 11:12:47 AM,DOT,11210,BROOKLYN,40.628450,-73.947200
24,25,09/01/2016 02:19:21 PM,09/16/2016 02:11:08 PM,DOT,11101,QUEENS,40.745866,-73.955148
25,26,09/01/2016 12:46:35 PM,09/16/2016 11:53:24 AM,DOT,11217,BROOKLYN,40.687518,-73.986320
26,27,09/01/2016 01:33:58 PM,09/16/2016 12:55:18 PM,DOT,11231,BROOKLYN,40.683742,-73.995233
27,28,09/01/2016 01:51:10 PM,09/11/2016 02:05:38 AM,HPD,10457,BRONX,40.852417,-73.899753
28,29,09/01/2016 12:28:00 PM,09/01/2016 12:28:00 PM,DOT,NaN,BRONX,NaN,NaN
29,30,09/01/2016 12:34:41 PM,09/10/2016 03:01:05 PM,HPD,10033,MANHATTAN,40.846318,-73.932740
...,...,...,...,...,...,...,...,...
971033,971034,09/20/2016 01:36:18 PM,09/20/2016 04:14:47 PM,NYPD,11357.0,QUEENS,40.789638,-73.814111
971034,971035,09/20/2016 09:22:00 PM,09/21/2016 10:21:00 AM,DOT,11368.0,QUEENS,40.756870,-73.857055
971035,971036,09/20/2016 12:27:00 PM,09/21/2016 12:30:00 AM,DOT,10461.0,BRONX,40.838262,-73.836541
971036,971037,09/20/2016 02:25:16 PM,09/26/2016 01:57:59 PM,DOF,NaN,Unspecified,NaN,NaN
971037,971038,09/20/2016 01:55:00 PM,09/22/2016 08:10:00 AM,DEP,11217.0,BROOKLYN,40.677542,-73.979681
971038,971039,09/20/2016 01:25:44 PM,09/21/2016 10:59:52 AM,DOF,10013.0,MANHATTAN,NaN,NaN
971039,971040,09/20/2016 02:08:00 PM,09/21/2016 02:08:00 PM,DEP,11238.0,BROOKLYN,40.673232,-73.965010
971040,971041,09/20/2016 07:51:00 AM,09/21/2016 11:46:00 AM,DOT,11222.0,BROOKLYN,40.725309,-73.957521
971041,971042,09/20/2016 07:57:58 PM,09/20/2016 07:58:34 PM,HRA,NaN,Unspecified,NaN,NaN
971042,971043,09/20/2016 08:56:00 AM,09/20/2016 10:20:00 AM,DEP,11209.0,BROOKLYN,40.632837,-74.027230
971043,971044,09/20/2016 06:22:00 AM,09/23/2016 12:45:00 PM,DEP,10029.0,MANHATTAN,40.787172,-73.949982
971044,971045,09/20/2016 03:40:00 AM,NaN,DEP,11366.0,QUEENS,40.720328,-73.807761
971045,971046,09/20/2016 12:06:00 AM,09/22/2016 10:45:00 PM,DEP,10027.0,MANHATTAN,40.808013,-73.950129
971046,971047,09/20/2016 03:05:03 AM,09/20/2016 07:58:48 AM,NYPD,10030.0,MANHATTAN,40.816358,-73.940220
971047,971048,09/20/2016 09:19:20 AM,09/27/2016 03:20:46 PM,DOT,NaN,BROOKLYN,NaN,NaN
971048,971049,09/20/2016 08:42:00 PM,01/13/2017 08:56:00 AM,DOT,10314.0,STATEN ISLAND,40.611248,-74.169591
971049,971050,09/20/2016 04:42:00 PM,09/20/2016 06:40:00 PM,DOT,NaN,QUEENS,NaN,NaN
971050,971051,09/20/2016 11:47:00 AM,09/16/2016 11:47:00 AM,DOT,11414.0,QUEENS,40.648070,-73.844823
971051,971052,09/20/2016 06:31:14 PM,09/20/2016 08:42:14 PM,NYPD,11205.0,BROOKLYN,40.694865,-73.979214
971052,971053,09/20/2016 07:35:12 PM,09/20/2016 09:39:22 PM,NYPD,11205.0,BROOKLYN,40.694865,-73.979214
971053,971054,09/20/2016 08:10:00 AM,09/23/2016 11:28:00 AM,DOT,NaN,QUEENS,NaN,NaN
971054,971055,09/20/2016 10:19:24 AM,09/21/2016 05:09:13 AM,DHS,10025.0,MANHATTAN,40.796495,-73.970431
971055,971056,09/20/2016 05:01:30 PM,09/20/2016 09:34:44 PM,NYPD,10024.0,MANHATTAN,40.788312,-73.976502
971056,971057,09/20/2016 04:11:00 AM,09/20/2016 11:30:00 AM,DEP,10014.0,MANHATTAN,40.734051,-74.004247
971057,971058,09/20/2016 09:42:48 AM,09/20/2016 11:11:26 AM,DOF,10024.0,MANHATTAN,NaN,NaN
971058,971059,09/20/2016 03:02:25 PM,09/24/2016 09:33:13 AM,HPD,10469.0,BRONX,40.877527,-73.847712
971059,971060,09/20/2016 11:36:47 AM,10/21/2016 08:02:42 PM,HPD,10029.0,MANHATTAN,40.791709,-73.937064
971060,971061,09/20/2016 04:41:40 PM,09/24/2016 09:41:28 AM,HPD,10460.0,BRONX,40.833706,-73.895943
971061,971062,09/20/2016 11:36:46 AM,10/21/2016 08:02:41 PM,HPD,10029.0,MANHATTAN,40.791709,-73.937064
971062,971063,09/20/2016 01:41:33 PM,10/11/2016 02:04:05 AM,HPD,11432.0,QUEENS,40.711279,-73.788951

<h4>Let's examine our data</h4>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 971063 entries, 0 to 971062
Data columns (total 8 columns):
Unique Key      971063 non-null int64
Created Date    971063 non-null object
Closed Date     882944 non-null object
Agency          971063 non-null object
Incident Zip    911140 non-null object
Borough         971063 non-null object
Latitude        887284 non-null float64
Longitude       887284 non-null float64
dtypes: float64(2), int64(1), object(5)
memory usage: 59.3+ MB

<h4>Looks like Unique Key really is a unique key and can serve as an index</h4>

In [11]:
df = pd.read_csv(datafile,index_col='Unique Key')

/Users/chloesuridis/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
df.iloc[:10]

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
1,10/11/2016 11:53:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
2,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
3,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
4,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
5,10/11/2016 12:18:00 PM,10/11/2016 12:18:00 PM,DSNY,NaN,QUEENS,NaN,NaN
6,10/11/2016 11:36:00 AM,10/11/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN
7,10/11/2016 12:39:00 PM,10/11/2016 12:39:00 PM,DSNY,NaN,QUEENS,NaN,NaN
8,10/11/2016 11:44:00 AM,NaN,DSNY,NaN,QUEENS,NaN,NaN
9,10/11/2016 12:35:00 PM,10/11/2016 12:35:00 PM,DSNY,NaN,QUEENS,NaN,NaN
10,10/11/2016 11:26:00 AM,05/27/2016 12:00:00 PM,DSNY,NaN,QUEENS,NaN,NaN

<h4>Columns 4 has mixed types</h4>

<h4>Column 4 is incident zip</h4>
Let's examine it<br>
The unique() function returns unique values in a column

In [13]:
df['Incident Zip'].unique() #why are they strings if they could have been numbers? if there is a hyphen for example that #
#could be recoginized as a string  or if you have "UNKNOWNS" then thats a string

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '19044', '11412', '10022', '11379', '11251', '30374-0283',
       '11004', '11104', '10004', '11362', '11360', '11109', '07047',
       '11590', '11001', '11430', '11106', '10464', '43216', '11370',
       '10271', '11239', '11415', '10006', '10121', '10177', '11030-3409',
       '10069', '07302', '0000', '10044', '10282', '10000', '11743',
       '10178', '07114', '07410', '13851', '10169', '11697', '10168',
       '10538', '10123', '11516', '10174', '10278', '11598', '10112',
       '10605', 'UNKNOWN', '10172', '11570', '07105', '11561', '11576',
       '10162', '10281', '10151', '220194', '99999', '00083', '44087',
       '10472.0', '10039.0', '10471.0', '11372.0', '11377.0', '11354.0',
       '10453.0', '10304.0', '11235.0', '10307.0', '11361.0', '11218.0',
       '11219.0', '10302.0', '10035.0', '11233.0', '10019.0', '10037.0',
       '11385.0', '10075.0', '10040.0', '10458.0', '11223.0', '10462.0',
       '11104.0', '11420.0', '10474.0', '11229.0', '11226.0', '10456.0',
       '10468.0', '10467.0', '10002.0', '11208.0', '10460.0', '11212.0',
       '10032.0', '11204.0', '11207.0', '11214.0', '11363.0', '11422.0',
       '11434.0', '10457.0', '10028.0', '10452.0', '10009.0', '11432.0',
       '11213.0', '10465.0', '11209.0', '10033.0', '11379.0', '11216.0',
       '11249.0', '10031.0', '11418.0', '11414.0', '10034.0', '11230.0',
       '11692.0', '11210.0', '11217.0', '11201.0', '10128.0', '10010.0',
       '11215.0', '11211.0', '11375.0', '11419.0', '10469.0', '11423.0',
       '11106.0', '11220.0', '10069.0', '10306.0', '10301.0', '11369.0',
       '10027.0', '10312.0', '10309.0', '11427.0', '11691.0', '11417.0',
       '11416.0', '11234.0', '11236.0', '10455.0', '11105.0', '11228.0',
       '10029.0', '10011.0', '10007.0', '11237.0', '11231.0', '10303.0',
       '11357.0', '11415.0', '10001.0', '11203.0', '10451.0', '10314.0',
       '10021.0', '11225.0', '10463.0', '11426.0', '11206.0', '11103.0',
       '11222.0', '10461.0', '10030.0', '10470.0', '11373.0', '10466.0',
       '11412.0', '10026.0', '10308.0', '10012.0', '10025.0', '11238.0',
       '11366.0', '10459.0', '10005.0', '11364.0', '11368.0', '10473.0',
       '11232.0', '11378.0', '10305.0', '10454.0', '10282.0', '11101.0',
       '11221.0', '10014.0', '10016.0', '11356.0', '10003.0', '11429.0',
       '11413.0', '10022.0', '10013.0', '11365.0', '11367.0', '11694.0',
       '11411.0', '11433.0', '11355.0', '11421.0', '10036.0', '10065.0',
       '11224.0', '11374.0', '11358.0', '10023.0', '10475.0', '10017.0',
       '10024.0', '11370.0', '11693.0', '11362.0', '11004.0', '11205.0',
       '11102.0', '10004.0', '10038.0', '11435.0', '10006.0', '11360.0',
       '11428.0', '10018.0', '11436.0', '10464.0', '10310.0', '10044.0',
       '10280.0', '11239.0', '11001.0', '10020.0', '10112.0', '10172.0',
       '10168.0', '7114.0', '11030.0', '10278.0', '11109.0', '10000.0',
       '11697.0', '11040.0', '11725.0', '10111.0', '11005.0', '10162.0',
       '10281.0', '10169.0', '11803.0', '11430.0', '10119.0', '90274.0',
       '11520.0', '7112.0', '10041.0', '11570.0', '10167.0', '10107.0',
       '10174.0', '10120.0', '10177.0', '7073.0', '10154.0', '10165.0',
       '11550', '11701', '33134', '07628', '10532', '10703', '11371',
       '10105', '18773', '11580', '11725-9030', '10158', '07722',
       '11779.0', '10271.0', '11359.0', '10153.0', '10604.0', '10279.0',
       '29601.0', '10538.0', '30006.0', '11792.0', '11747.0', '10118.0',
       '83.0', '11566.0', '11776.0', '12344.0', '10121.0', '11550.0',
       '11576.0', '10103.0', '10801.0', '11509.0', '10701.0', '10105.0',
       '10913.0', '0.0', '11518.0', '11002.0', '10573.0', '10158.0',
       '10601.0', '11581.0', '11710.0', '42101.0', '10803.0', '10123.0',
       '11050.0', '3358.0', '8876.0', '10179.0', '12222.0', '11003',
       '10154', '10110', '10153', 'UNKOWN', '11636', '11005', '98057',
       '10801', '10550', '07310', '10115.0', '60179.0', '11003.0',
       '7093.0', '7306.0', '10170.0', '61702.0', '10804.0', '11791.0',
       '11743.0', '7013.0', '11042.0', '11371.0', '07024', '29616-0759',
       '14094', '11040-4204', '55433', '33033', '10118', '11501', '11514',
       '11021', '02241-5789', '91711', '11735', '07104', '48393-0824',
       '30353-0949', '10173', '02298', '11050', '33433', '33309',
       '10110.0', '10106.0', '10045.0', '7101.0', '07307', '10041',
       '01581', '10279', '10179', '11244', '10604', '07086', '?', '10111',
       '10165', '11530', '10573', 11433.0, 11213.0, 10037.0, 10030.0,
       10462.0, 10035.0, 10458.0, 11377.0, 11691.0, 10036.0, 10002.0,
       11355.0, 11419.0, 11209.0, 10460.0, 11226.0, 10011.0, 11233.0,
       10033.0, 10009.0, 10463.0, 10459.0, 10031.0, 10034.0, 10472.0,
       11372.0, 10025.0, 10301.0, 11357.0, 11216.0, 11230.0, 10302.0,
       10452.0, 11234.0, 10003.0, 10453.0, 10456.0, 10473.0, 11238.0,
       10027.0, 10451.0, 11218.0, 11208.0, 11220.0, 10032.0, 11366.0,
       11214.0, 11236.0, 11223.0, 10303.0, 11207.0, 11378.0, 10466.0,
       11212.0, 11219.0, 10028.0, 11201.0, 11373.0, 10023.0, 10468.0,
       11105.0, 11222.0, 10304.0, 11413.0, 10467.0, 10039.0, 11420.0,
       10457.0, 10016.0, 11414.0, 11104.0, 11221.0, 10040.0, 11435.0,
       11385.0, 10026.0, 11368.0, 11215.0, 11412.0, 11001.0, 10010.0,
       10306.0, 11101.0, 11415.0, 11375.0, 10465.0, 10024.0, 10021.0,
       11237.0, 10014.0, 11229.0, 11217.0, 10310.0, 10461.0, 10012.0,
       11356.0, 11228.0, 11205.0, 10001.0, 11210.0, 10455.0, 11411.0,
       10005.0, 11418.0, 11232.0, 10471.0, 10029.0, 10308.0, 11225.0,
       10019.0, 11422.0, 10006.0, 11224.0, 11354.0, 11249.0, 11434.0,
       10282.0, 11374.0, 10128.0, 10013.0, 11367.0, 10065.0, 11231.0,
       11211.0, 11432.0, 11692.0, 11235.0, 11204.0, 11361.0, 10017.0,
       11103.0, 10020.0, 10312.0, 11365.0, 10018.0, 11206.0, 11416.0,
       10305.0, 11370.0, 11203.0, 11379.0, 11369.0, 10469.0, 10314.0,
       10075.0, 11436.0, 11429.0, 10022.0, 11428.0, 10470.0, 10474.0,
       11358.0, 11102.0, 11427.0, 10454.0, 10309.0, 11421.0, 11423.0,
       11106.0, 11362.0, 10307.0, 10464.0, 11360.0, 10038.0, 11426.0,
       10112.0, 11239.0, 11004.0, 11417.0, 11693.0, 11364.0, 11021.0,
       7114.0, 11694.0, 10475.0, 10007.0, 10280.0, 10069.0, 8861.0,
       10279.0, 10044.0, 8817.0, 10004.0, 11363.0, 11005.0, 11697.0,
       10281.0, 10111.0, 11040.0, 11430.0, 10118.0, 10121.0, 7302.0,
       11251.0, 10803.0, 10119.0, 10580.0, 11109.0, 11749.0, 19053.0,
       10708.0, 10165.0, 10122.0, 10176.0, 10000.0, 10178.0, 11520.0,
       10583.0, 10048.0, 10168.0, 10177.0, 83.0, 8901.0, 10110.0, 10169.0,
       7310.0, 8512.0, 97062.0, 10167.0, 11743.0, 11371.0, 80014.0,
       11722.0, 10155.0, 11554.0, 10123.0, 6870.0, 10103.0, 12222.0,
       10041.0, 10106.0, 7086.0, 1749.0, 11042.0, 11719.0, 11024.0,
       11801.0, 10162.0, 7208.0, 97114.0, 11571.0, 10278.0, 19034.0,
       11695.0, 11968.0, 11010.0, 0.0, '10707.0', '10173.0', '11251.0',
       '10155.0', '10580.0', '11241.0', '11553.0', '10176.0', '11510.0',
       '11802-9060', '11779', '11757', '19040.0', '11758.0', '11746.0',
       '30346.0', '11590.0', '7410.0', '10550.0', '11695.0', '11580.0',
       '11516.0', '11575.0', '11572.0', '10178.0', '10960.0', '10710',
       '00000', '18901', '42301', '11695', '32752-9963', '10170', '10705',
       '11557.0', '3830.0', '10134.0', '11021.0', '7029.0', '10055',
       '10106', '12222', '10704', '11558', '07960', '12209', '10176',
       '07712', '10103', '11797', '11520', '10115', '10601', '14624',
       '10048', '14222', '19962', '19399', '02346', '11756-0215', '11111',
       '10155', '07608', '10530', '07103-4154', '11801', '10583', '11793',
       '10166', '10045', 'NJ 07114', '06601', '10023-6349', '10805',
       '877.0', '11701.0', '7302.0', '07660', '11563', '9153',
       '14231-9054', '11729.0', '11559.0', '11431.0', '11530.0', '07747',
       '11359', '07040', '11579', '10152', '92131', '19123', '11791',
       '90054-0807', '08876', '55486-0102', '37909.0', '11561.0',
       '10543.0', '11706.0', '7030.0', '91942', '14450', '07090', '12550',
       '12553', '10567.0', '10259.0', '11797.0', '10151.0', '11552.0',
       '92193.0', '1757.0', '10055.0', '11554.0', '10989', '11219-0283',
       '07070', '37214', '17108-0988', '43218', '02114', '10553',
       '43218-2118', '32256', '7640.0', '7087.0', 11561.0, 10154.0,
       11359.0, 11530.0, 10977.0, 10173.0, 7108.0, 10271.0, 6902.0,
       10120.0, 10153.0, 10158.0, 11590.0, 99999.0, 7030.0, 10591.0,
       8043.0, 10174.0, 105457.0, 10604.0, 7304.0, 10573.0, '10120',
       '07093', '10801-6393', '20705.0', '33128.0', '7105.0', '14228.0',
       '11582.0', '10008.0', '7310.0', '7094.0', '11577.0', '7086.0',
       '7201.0', '10122.0', '32256.0', '29615.0', '19047.0', '2062.0',
       '12205.0', '99999.0', '11704.0', '7047.0', '11242.0', '07073',
       '11797-9001', '10129', 'JFK', '01853', '7040.0', '10532.0',
       '19044.0', '10704.0', '11768.0'], dtype=object)

<h4>Some issues</h4>
<li>Sometimes zip is a float, other times it is an str
<li>Zipcodes that are represented as floats and start with 0 are missing the first digit (8817)
<li>Some zipcodes have the 4 digit extension added. Comparison becomes tough
<li>What the heck is zip 0?
<li>What about the missing (nan) values? The ? (question mark)? "UNKNOWN"?

In [ ]:
#if we have a 9 digit zip code we can drop the last 4 digits
#we can make all the floats and make them into ints 
#what do we do with UNKNOWNS? we can't really throw them out bc that data point can be useful in temrs of analysis
#can we fill in the value as unknown? If not we can keep it or just make it 00000 
#if you know the address you can get the zipcode using google API 
#also will throw away zip codes that re not in nyc

<h2>Clean the data</h2>
<li>Decide what to do with "bad" data ("JFK", "UNKNOWN", etc.). Convert to Nan or delete the record.
<li>Make sure all data in a column is in the correct format (convert floats to strings, get rid of the 4 digit extension)
<li>Decide what to do with missing values (NaNs)

<h3>for "Incident Zip"</h3>
<li>we'll drop rows with NaN or bad data
<li>get rid of the 4 digit extension
<li>remove zips less than 10000 and greater than 12000
<li>Let's write a function that fixes zips
<li>Convert everything to str because zips are not really numbers

In [ ]:
#we're going to right a function that will fix these zip codes

In [14]:
int(float('12343.0'))

12343

In [15]:
"12345-1111".split('-')[0]

'12345'

In [17]:
def fix_zip(input_zip):
    try:
        input_zip = int(float(input_zip))
    except: #if it fails, (fails bc it has a dash (-) )
        try:
            input_zip = int(input_zip.split('-')[0])
        except:
            return np.NaN
    if input_zip < 10000 or input_zip > 12000: #not in nyc 
        return np.NaN
    return str(input_zip)#output in a string

<h4>And test it</h4>

In [18]:
fix_zip('10817.00')

'10817'

<h3>Apply the function to input zip</h3>
<li>The pandas function <span style="color:blue">apply</span> applies a function to each element in a df column

In [21]:
df['Incident Zip'] = df['Incident Zip'].apply(fix_zip) #apply function will take whatever function you have and will 
#apply it to every element in the specified column

In [22]:
df['Incident Zip'].unique()

array([nan, '10001', '11691', '11211', '10027', '10452', '11428', '11101',
       '10075', '11215', '11210', '11231', '11217', '10457', '10033',
       '11209', '11201', '11367', '10029', '10021', '10028', '10034',
       '10032', '10039', '11414', '10461', '11229', '10462', '11223',
       '10023', '10453', '11225', '11219', '10451', '11234', '10014',
       '11354', '11361', '10468', '11233', '10466', '11204', '11413',
       '11224', '11375', '11040', '11232', '11203', '11205', '11434',
       '10011', '10003', '10025', '10013', '10036', '11237', '11355',
       '11368', '10454', '10456', '10463', '11222', '11228', '11216',
       '10128', '11435', '11419', '11358', '11421', '10019', '11238',
       '11213', '11235', '11420', '10038', '11226', '10472', '10016',
       '11221', '11236', '11436', '11214', '11377', '11385', '11365',
       '10312', '11426', '11373', '11218', '10005', '11230', '10026',
       '10473', '10280', '10301', '10309', '10310', '10009', '10002',
       '11433', '10020', '11357', '10030', '11378', '11249', '11432',
       '11212', '10024', '10035', '11429', '11206', '11372', '10471',
       '10119', '10307', '11364', '11103', '10017', '10012', '11105',
       '10458', '10018', '11374', '10459', '10314', '10037', '10302',
       '10040', '11411', '11692', '10303', '11418', '10031', '11220',
       '11427', '10465', '10306', '10010', '10460', '10305', '11207',
       '11208', '10474', '11417', '10475', '10455', '11416', '10065',
       '11363', '11693', '10308', '11356', '10469', '11369', '10470',
       '10467', '10007', '10304', '11366', '11694', '11102', '11423',
       '11422', '11412', '10022', '11379', '11251', '11004', '11104',
       '10004', '11362', '11360', '11109', '11590', '11001', '11430',
       '11106', '10464', '11370', '10271', '11239', '11415', '10006',
       '10121', '10177', '11030', '10069', '10044', '10282', '10000',
       '11743', '10178', '10169', '11697', '10168', '10538', '10123',
       '11516', '10174', '10278', '11598', '10112', '10605', '10172',
       '11570', '11561', '11576', '10162', '10281', '10151', '11725',
       '10111', '11005', '11803', '11520', '10041', '10167', '10107',
       '10120', '10154', '10165', '11550', '11701', '10532', '10703',
       '11371', '10105', '11580', '10158', '11779', '11359', '10153',
       '10604', '10279', '11792', '11747', '10118', '11566', '11776',
       '10103', '10801', '11509', '10701', '10913', '11518', '11002',
       '10573', '10601', '11581', '11710', '10803', '11050', '10179',
       '11003', '10110', '11636', '10550', '10115', '10170', '10804',
       '11791', '11042', '11501', '11514', '11021', '11735', '10173',
       '10106', '10045', '11244', '11530', '10580', '11749', '10708',
       '10122', '10176', '10583', '10048', '11722', '10155', '11554',
       '11719', '11024', '11801', '11571', '11695', '11968', '11010',
       '10707', '11241', '11553', '11510', '11802', '11757', '11758',
       '11746', '11575', '11572', '10960', '10710', '10705', '11557',
       '10134', '10055', '10704', '11558', '11797', '11756', '11111',
       '10530', '11793', '10166', '10805', '11563', '11729', '11559',
       '11431', '11579', '10152', '10543', '11706', '10567', '10259',
       '11552', '10989', '10553', '10977', '10591', '11582', '10008',
       '11577', '11704', '11242', '10129', '11768'], dtype=object)

<h3>Drop all rows that have zip == Nan</h3>
<li>We don't have to, that's just a choice we're making</li>
<li>Alternatively, we could just give them a special code</li>
<li>Or vary the code depending on some other factor (Borough? department?)

In [23]:
df = df[df['Incident Zip'].notnull()]#create a mask and apply it to our dataframe

In [24]:
df

,Created Date,Closed Date,Agency,Incident Zip,Borough,Latitude,Longitude
Unique Key,,,,,,,
11,09/01/2016 12:33:42 AM,09/16/2016 01:06:56 AM,DCA,10001,MANHATTAN,40.744790,-73.988834
12,09/01/2016 08:16:24 PM,09/10/2016 06:08:25 PM,HPD,11691,QUEENS,40.600554,-73.750704
13,09/01/2016 12:17:00 PM,09/07/2016 12:00:00 PM,DSNY,11211,BROOKLYN,40.704925,-73.962007
14,09/01/2016 12:10:22 PM,09/10/2016 02:23:44 PM,HPD,10027,MANHATTAN,40.812322,-73.955338
15,09/01/2016 12:32:32 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534
16,09/01/2016 08:16:24 PM,09/10/2016 06:08:24 PM,HPD,11691,QUEENS,40.600554,-73.750704
17,09/01/2016 08:35:00 AM,09/07/2016 12:00:00 PM,DSNY,11428,QUEENS,40.721866,-73.745982
18,09/01/2016 01:19:42 PM,09/16/2016 02:32:35 PM,DOT,11101,QUEENS,40.746875,-73.952711
19,09/01/2016 11:00:00 AM,09/08/2016 12:00:00 PM,DSNY,10075,MANHATTAN,40.773336,-73.955054
20,09/01/2016 11:45:00 AM,09/03/2016 12:00:00 PM,DSNY,11215,BROOKLYN,40.662002,-73.983668
21,09/01/2016 10:11:45 AM,09/16/2016 11:11:38 AM,DOT,11101,QUEENS,40.745492,-73.953174
22,09/01/2016 08:22:53 AM,09/16/2016 07:42:02 AM,DOT,11210,BROOKLYN,40.631530,-73.954573
23,09/01/2016 05:31:04 PM,09/16/2016 10:10:02 AM,DOT,11231,BROOKLYN,40.677629,-73.998190
24,09/01/2016 08:50:41 AM,09/16/2016 11:12:47 AM,DOT,11210,BROOKLYN,40.628450,-73.947200
25,09/01/2016 02:19:21 PM,09/16/2016 02:11:08 PM,DOT,11101,QUEENS,40.745866,-73.955148
26,09/01/2016 12:46:35 PM,09/16/2016 11:53:24 AM,DOT,11217,BROOKLYN,40.687518,-73.986320
27,09/01/2016 01:33:58 PM,09/16/2016 12:55:18 PM,DOT,11231,BROOKLYN,40.683742,-73.995233
28,09/01/2016 01:51:10 PM,09/11/2016 02:05:38 AM,HPD,10457,BRONX,40.852417,-73.899753
30,09/01/2016 12:34:41 PM,09/10/2016 03:01:05 PM,HPD,10033,MANHATTAN,40.846318,-73.932740
31,09/01/2016 07:03:00 AM,09/07/2016 07:30:00 AM,DEP,11209,BROOKLYN,40.636674,-74.036517
32,09/01/2016 12:29:29 PM,09/11/2016 02:03:37 AM,HPD,10452,BRONX,40.839529,-73.922534
33,09/01/2016 05:32:16 PM,09/16/2016 07:20:23 AM,DOT,11201,BROOKLYN,40.694792,-73.994299
34,09/01/2016 08:53:22 AM,09/16/2016 09:03:59 AM,DOT,11201,BROOKLYN,40.687137,-73.990174
35,09/01/2016 05:36:25 PM,09/16/2016 09:47:33 AM,DOT,11210,BROOKLYN,40.631101,-73.952534
36,09/01/2016 05:46:07 PM,09/16/2016 09:49:54 AM,DOT,11367,QUEENS,40.729686,-73.815145
37,09/01/2016 01:12:00 PM,09/02/2016 12:00:00 PM,DSNY,10029,MANHATTAN,40.787104,-73.945002
38,09/01/2016 09:05:00 AM,09/08/2016 12:00:00 PM,DSNY,10021,MANHATTAN,40.768324,-73.955137
39,09/01/2016 12:00:31 PM,09/16/2016 11:48:36 AM,DOT,10028,MANHATTAN,40.774136,-73.951363
40,09/01/2016 12:19:34 PM,09/16/2016 07:20:17 AM,DOT,10034,MANHATTAN,40.867919,-73.920454
41,09/01/2016 09:57:16 AM,09/16/2016 09:01:46 AM,DOT,11217,BROOKLYN,40.687773,-73.987001
...,...,...,...,...,...,...,...
971027,09/20/2016 10:35:45 AM,10/06/2016 11:41:19 AM,DOF,10019,MANHATTAN,NaN,NaN
971028,09/20/2016 09:14:00 AM,09/20/2016 12:53:39 PM,DOF,11201,BROOKLYN,NaN,NaN
971030,09/20/2016 04:27:16 PM,09/21/2016 09:38:24 AM,DOF,10466,BRONX,NaN,NaN
971031,09/20/2016 04:13:04 PM,09/21/2016 11:00:00 AM,DOT,10462,BRONX,40.835874,-73.848426
971032,09/20/2016 01:08:00 PM,09/28/2016 09:55:00 PM,DOT,10468,BRONX,40.863033,-73.909054
971034,09/20/2016 01:36:18 PM,09/20/2016 04:14:47 PM,NYPD,11357,QUEENS,40.789638,-73.814111
971035,09/20/2016 09:22:00 PM,09/21/2016 10:21:00 AM,DOT,11368,QUEENS,40.756870,-73.857055
971036,09/20/2016 12:27:00 PM,09/21/2016 12:30:00 AM,DOT,10461,BRONX,40.838262,-73.836541
971038,09/20/2016 01:55:00 PM,09/22/2016 08:10:00 AM,DEP,11217,BROOKLYN,40.677542,-73.979681
971039,09/20/2016 01:25:44 PM,09/21/2016 10:59:52 AM,DOF,10013,MANHATTAN,NaN,NaN
971040,09/20/2016 02:08:00 PM,09/21/2016 02:08:00 PM,DEP,11238,BROOKLYN,40.673232,-73.965010
971041,09/20/2016 07:51:00 AM,09/21/2016 11:46:00 AM,DOT,11222,BROOKLYN,40.725309,-73.957521
971043,09/20/2016 08:56:00 AM,09/20/2016 10:20:00 AM,DEP,11209,BROOKLYN,40.632837,-74.027230
971044,09/20/2016 06:22:00 AM,09/23/2016 12:45:00 PM,DEP,10029,MANHATTAN,40.787172,-73.949982
971045,09/20/2016 03:40:00 AM,NaN,DEP,11366,QUEENS,40.720328,-73.807761
971046,09/20/2016 12:06:00 AM,09/22/2016 10:45:00 PM,DEP,10027,MANHATTAN,40.808013,-73.950129
971047,09/20/2016 03:05:03 AM,09/20/2016 07:58:48 AM,NYPD,10030,MANHATTAN,40.816358,-73.940220
971049,09/20/2016 08:42:00 PM,01/13/2017 08:56:00 AM,DOT,10314,STATEN ISLAND,40.611248,-74.169591
971051,09/20/2016 11:47:00 AM,09/16/2016 11:47:00 AM,DOT,11414,QUEENS,40.648070,-73.844823
971052,09/20/2016 06:31:14 PM,09/20/2016 08:42:14 PM,NYPD,11205,BROOKLYN,40.694865,-73.979214
971053,09/20/2016 07:35:12 PM,09/20/2016 09:39:22 PM,NYPD,11205,BROOKLYN,40.694865,-73.979214
971055,09/20/2016 10:19:24 AM,09/21/2016 05:09:13 AM,DHS,10025,MANHATTAN,40.796495,-73.970431
971056,09/20/2016 05:01:30 PM,09/20/2016 09:34:44 PM,NYPD,10024,MANHATTAN,40.788312,-73.976502
971057,09/20/2016 04:11:00 AM,09/20/2016 11:30:00 AM,DEP,10014,MANHATTAN,40.734051,-74.004247
971058,09/20/2016 09:42:48 AM,09/20/2016 11:11:26 AM,DOF,10024,MANHATTAN,NaN,NaN
971059,09/20/2016 03:02:25 PM,09/24/2016 09:33:13 AM,HPD,10469,BRONX,40.877527,-73.847712
971060,09/20/2016 11:36:47 AM,10/21/2016 08:02:42 PM,HPD,10029,MANHATTAN,40.791709,-73.937064
971061,09/20/2016 04:41:40 PM,09/24/2016 09:41:28 AM,HPD,10460,BRONX,40.833706,-73.895943
971062,09/20/2016 11:36:46 AM,10/21/2016 08:02:41 PM,HPD,10029,MANHATTAN,40.791709,-73.937064
971063,09/20/2016 01:41:33 PM,10/11/2016 02:04:05 AM,HPD,11432,QUEENS,40.711279,-73.788951

<h3>Let's take a look at the columns again</h3>

In [25]:
df.info() # you can see that we dropped columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 910874 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    910874 non-null object
Closed Date     829425 non-null object
Agency          910874 non-null object
Incident Zip    910874 non-null object
Borough         910874 non-null object
Latitude        887168 non-null float64
Longitude       887168 non-null float64
dtypes: float64(2), object(5)
memory usage: 55.6+ MB

<h3>Closed Date, Latitude and Longitude all have missing values</h3>
<h3>Let's get rid of them</h3>

In [26]:
df = df[(df['Latitude'].notnull()) & (df['Longitude'].notnull())  & (df['Closed Date'].notnull())]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 806561 entries, 11 to 971063
Data columns (total 7 columns):
Created Date    806561 non-null object
Closed Date     806561 non-null object
Agency          806561 non-null object
Incident Zip    806561 non-null object
Borough         806561 non-null object
Latitude        806561 non-null float64
Longitude       806561 non-null float64
dtypes: float64(2), object(5)
memory usage: 49.2+ MB

<h4>Let's take a look at Borough data</h4>

In [ ]:
df['Borough'].unique()

<h4>Unspecified</h4>
<li>Could be a problem if our analysis focuses on boroughs

In [ ]:
df[df['Borough']=='Unspecified'][['Agency','Incident Zip']]

<h3>Possible fixes</h3>
<li>Map zips to boroughs using external data
<li>Map zips to boroughs using data from the data frame
<li>Delve into the data to see whether unspecified makes sense

<h4>So we get to use our groupby function</h4>

In [ ]:
df[df['Borough']=='Unspecified'].groupby('Agency').count()

<li>Unspecified appears to have a systematic bias toward NYPD
<li>Though only a small proportion of NYPD complaints (see below)
<li>We have to decide whether to keep them or lose them!

In [ ]:
nypd_complaints_total = df[df['Agency']=='NYPD']['Borough'].count()
nypd_unspecified = df[(df['Borough']=='Unspecified') & (df['Agency']=="NYPD")]['Borough'].count()
percentage = nypd_unspecified/nypd_complaints_total*100
print("%1.2f%%"%percentage)

<h4>For now, we'll get rid of them. Unspecified will be hard to explain!</h4>

In [ ]:
df = df[df['Borough'] != 'Unspecified']

<h2>Dealing with time</h2>
<li>Dates and times are best converted to datetime
<li>That way they will be useful for analysis because we can compute timedelta objects

<h2>Digression: The datetime library</h2>

In [ ]:
df.info()

<h4>And we get to use lambda functions!</h4>

In [ ]:
import datetime
df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [ ]:
df['Created Date'][0:20]

In [ ]:
df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))

In [ ]:
df

<h3>We can create a new column that tracks the time it takes to close a complaint</h3>

In [ ]:
df['processing_time'] =  df['Closed Date'] - df['Created Date']

In [ ]:
#And look at summary statistics
df['processing_time'].describe()

In [ ]:
df['Created Date'].min()

<h4>There is some odd stuff here</h4>
<li>Negative processing time?
<li>Since our data is for five months, a max of 148 days worth checking out

<h3>Let's examine the negative processing time data</h3>

In [ ]:
df[df['processing_time']<datetime.timedelta(0,0,0)]

In [ ]:
df[df['processing_time']<datetime.timedelta(0,0,0)].count()

<h4>Possibilities</h4>
<li>Data entry errors
<li>Created Date and Closed Date got switched

<h3>And the large processing times as well</h3>

In [ ]:
df[df['processing_time']>datetime.timedelta(148,0,0)]

In [ ]:
df[df['processing_time']>datetime.timedelta(148,0,0)].count()

<li>Looks like the upper end makes sense but the negative times don't
<li>Though we need to explore this more, we'll get rid of negative times for now

In [ ]:
df = df[df['processing_time']>=datetime.timedelta(0,0,0)]

<h2>Finally, let's write a function that incorporates all our changes</h2>

In [ ]:
def read_311_data(datafile):
    import pandas as pd
    import numpy as np
    #Add the fix_zip function
    def fix_zip(input_zip):
        try:
            input_zip = int(float(input_zip))
        except:
            try:
                input_zip = int(input_zip.split('-')[0])
            except:
                return np.NaN
        if input_zip < 10000 or input_zip > 19999:
            return np.NaN
        return str(input_zip)
    
    #Read the file
    df = pd.read_csv(datafile,index_col='Unique Key')
    
    #fix the zip
    df['Incident Zip'] = df['Incident Zip'].apply(fix_zip)
    
    #drop all rows that have any nans in them (note the easier syntax!)
    
    df = df.dropna(how='any')
    
    #get rid of unspecified boroughs
    df = df[df['Borough'] != 'Unspecified']
    
    #Convert times to datetime and create a processing time column
    
    import datetime
    df['Created Date'] = df['Created Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['Closed Date'] = df['Closed Date'].apply(lambda x:datetime.datetime.strptime(x,'%m/%d/%Y %I:%M:%S %p'))
    df['processing_time'] =  df['Closed Date'] - df['Created Date']
    
    #Finally, get rid of negative processing times and return the final data frame
    
    df = df[df['processing_time']>=datetime.timedelta(0,0,0)]
    
    return df

In [ ]:
df = read_311_data('nyc_311_data_subset_small.csv')
df.info()

<h1>Summary</h1>
<li>We read the data using read_csv
<li>Cleaned Incident Zip
<li>Converted Dates to datetime
<li>Created a new column containing processing times

<h3>The data is ready!</h3>