<h1>Pandas</h1>

<li>Integrated data manipulation and analysis capabilities
<li>Integration with data visualization libraries
<li>Integration with machine learning libraries
<li>Built in time-series capabilities (Pandas was originally designed for financial time series data)
<li>Optimized for speed
<li>Built-in support for grabbing data from multiple sources csv, xls, html tables, yahoo, google, worldbank, FRED
<li>Integrated data manipulation support (messy data, missing data, feature construction)
<li><b>End to end support for data manipulation, data visualization, data analysis, and presenting results</b>

<h2>Types of data in data analysis</h2>
<li><b>Categorical</b>  data with a fixed (finite) set of values and not necessarily ordered
<ul>
<li>gender, marital status, income level, semester grade etc.
<li>Pandas uses a <b>Categoricals</b> data type to represent this type of data
</ul>
<li><b>Continuous</b> Data that is drawn from an infinite set of ordered values and there are an infinite number of values between any two data elements
<ul>
<li>stock prices, sales revenue, dollar income, etc.
<li>Pandas uses the numpy <b>float</b> and <b>int</b> types to represent this type of data
</ul>
<li><b>Discrete</b> Data that is numerical but cannot be atomized further
<ul>
<li>Counts of categorical data
<li>Number of males, number of people in an income level, etc.
<li>Pandas uses the numpy <b>int</b> to represent this type of data
</ul>

<h3>Pandas organizes data into two data objects</h3>
<li>Series: A one dimensional array object
<li>DataFrame: A two dimensional table object
<ul>
<li>Each column in a dataframe corresponds to a named series

<li>Rows in a dataframe can be indexed by a column of any datatype
</ul>

In [2]:
import pandas as pd
import numpy as np

<h1>Series</h1>

In [3]:
x = pd.Series(np.random.randint(1000,size=1000))
x[:4]
#declares the length, the pd.series will run up until it has a 1000 values, that is what the first number declares

0    771
1    228
2    639
3    971
dtype: int64

In [4]:
print(x.head())
print(x.tail())
#beginning and end, uk this

0    771
1    228
2    639
3    971
4    192
dtype: int64
995    461
996    688
997    154
998    549
999    279
dtype: int64

<h3>Series are indexed</h3>
<li>Every series contains an index and the values of each index item
<li>Series items must be accessed through the index
<li>Iterators:  iterate on the index returning values

In [5]:
x[0] #0 is the first location

771

In [6]:
for i in x.index:
    print(x[i])

771
228
639
971
192
336
24
864
466
590
92
60
242
477
227
415
940
745
948
749
302
960
939
61
482
300
545
880
547
249
391
700
143
644
905
317
462
249
60
471
106
24
960
819
346
65
121
513
427
42
768
625
228
624
815
652
373
78
832
210
26
290
465
909
544
951
883
725
722
650
42
587
450
377
424
330
626
168
117
413
905
19
792
647
95
85
383
621
134
406
431
405
611
991
324
887
938
501
348
500
279
294
503
844
342
459
734
430
370
306
979
827
467
256
407
444
558
433
463
28
34
548
193
757
934
347
249
846
897
625
150
744
45
376
166
135
857
534
644
481
41
219
505
372
464
202
851
772
644
557
292
816
37
130
339
684
111
798
759
302
810
271
178
976
918
541
90
417
334
861
373
896
109
355
907
582
34
38
725
798
593
443
660
532
753
816
990
674
874
753
851
705
49
196
124
623
52
304
345
816
805
496
622
274
212
384
579
480
68
173
274
166
630
552
550
492
241
606
307
661
51
182
426
995
832
204
816
253
198
27
814
504
110
561
269
403
330
370
103
411
24
790
153
772
9
103
246
124
274
685
590
996
367
731
776
686
34
689
81
832
789
384
622
697
851
992
995
857
954
255
885
170
0
851
788
621
784
430
251
9
461
241
508
556
109
331
504
681
61
740
192
807
631
427
480
142
239
435
754
247
481
2
662
993
182
55
602
761
227
895
683
235
741
938
929
577
162
340
379
974
101
645
353
167
663
62
168
196
924
46
139
834
418
108
782
493
108
679
390
44
797
783
649
74
51
298
312
530
329
49
526
866
72
418
339
153
264
112
708
949
77
164
505
906
69
534
687
296
183
977
706
103
864
580
636
487
400
249
108
802
623
575
799
579
966
399
648
931
142
782
121
885
11
710
814
681
951
585
909
504
858
783
702
893
377
544
436
838
758
548
899
658
502
251
197
307
422
112
427
161
859
658
73
216
108
205
363
826
81
126
211
605
477
342
128
598
801
754
982
990
650
191
88
683
824
446
799
851
789
383
460
171
385
3
791
899
940
213
509
386
194
267
666
188
301
50
334
904
311
212
56
110
406
792
446
781
726
823
817
557
41
862
443
188
849
941
520
892
662
579
410
639
378
525
817
611
49
876
951
92
719
104
269
960
217
26
198
495
256
858
497
731
998
936
28
719
57
624
801
311
692
126
986
813
452
630
112
427
123
226
230
625
272
61
718
706
567
537
694
711
824
311
366
777
498
701
400
602
170
911
184
346
318
81
48
470
748
860
788
629
280
135
762
584
186
297
876
710
130
545
913
105
837
327
994
893
616
771
96
737
89
267
469
797
235
918
798
423
179
725
928
884
904
588
424
44
190
708
733
525
131
184
418
894
482
232
796
699
19
766
535
171
422
970
749
716
331
658
85
91
866
318
231
641
26
841
511
395
795
505
979
720
64
304
451
86
154
699
658
928
190
189
359
272
870
593
621
845
195
800
372
187
616
789
865
935
177
748
573
728
239
41
821
177
973
717
721
895
528
446
999
398
355
126
666
867
395
730
280
625
537
70
799
228
890
363
709
81
20
137
500
464
340
654
11
789
775
602
713
472
499
927
194
610
850
447
376
845
341
452
988
673
982
988
628
890
473
33
843
49
460
979
673
521
578
929
191
363
384
309
107
134
906
890
219
302
372
84
7
886
783
250
184
879
359
994
167
815
984
610
943
191
235
194
386
671
301
885
787
95
157
816
289
994
45
457
900
67
496
962
648
873
611
29
975
178
901
123
931
711
556
249
714
748
971
416
984
287
696
438
940
74
282
59
886
494
107
911
774
993
642
184
632
626
640
612
646
40
951
901
866
769
219
135
335
312
219
469
356
699
327
867
348
909
118
124
716
179
510
250
297
589
976
501
399
393
680
398
302
726
862
941
502
215
120
170
857
585
464
374
450
953
507
209
828
393
700
974
620
586
654
63
73
828
405
704
538
997
32
438
910
267
516
866
727
447
996
303
141
793
589
268
918
535
399
937
688
184
966
374
591
341
955
120
555
624
996
777
88
521
686
224
247
341
443
562
361
732
925
158
449
401
985
863
85
299
294
871
657
768
857
400
894
517
934
93
792
92
383
681
285
978
223
238
211
711
914
545
491
662
695
375
128
140
497
13
514
533
288
460
236
500
674
483
640
966
240
858
897
876
746
225
150
914
30
103
532
917
24
171
217
76
924
813
186
361
604
395
335
9
965
182
227
490
935
706
822
724
232
403
459
880
644
811
871
461
688
154
549
279

In [7]:
#The i's in the following loop are values in x, not locations in x!
for i in x:
    print(x[i])

873
198
928
76
49
108
482
405
334
928
611
26
153
823
253
307
695
994
288
610
662
746
662
290
443
481
701
589
602
685
885
499
372
870
562
340
666
685
26
110
734
482
746
699
312
951
548
936
826
960
496
841
198
26
312
616
580
117
976
274
545
192
50
158
498
500
535
929
673
372
960
423
460
249
108
139
511
334
433
251
562
749
282
845
887
85
579
318
166
436
605
544
171
880
663
184
491
104
329
719
9
480
960
120
649
386
219
211
706
602
9
179
904
34
838
824
788
342
188
547
905
170
196
885
211
530
685
857
777
841
292
359
65
400
90
135
974
718
870
862
24
661
26
864
301
622
953
611
870
860
631
219
249
150
44
890
827
774
95
662
866
170
725
604
657
311
431
112
782
63
580
996
306
153
732
469
905
60
929
774
588
683
239
272
194
219
459
666
727
194
953
447
42
52
934
641
228
182
298
219
612
49
231
788
630
966
737
41
722
355
788
90
979
318
184
378
790
796
761
41
625
660
363
461
976
212
219
731
345
880
335
217
979
135
255
893
139
706
844
658
482
940
130
611
590
844
246
934
788
363
928
688
296
134
901
709
905
137
19
976
438
966
231
602
953
644
461
974
640
686
937
373
771
953
696
318
971
211
996
590
267
790
256
748
306
834
217
70
290
783
49
40
720
826
41
505
411
598
386
124
862
639
821
811
660
652
418
816
253
624
228
403
250
491
681
771
178
797
802
186
294
593
418
417
177
465
334
52
934
121
481
399
427
370
714
525
370
625
121
346
911
748
800
424
625
754
741
230
46
42
112
538
450
427
44
130
851
467
341
460
168
918
26
361
650
718
81
239
532
395
376
844
405
89
154
892
858
685
370
632
641
893
993
737
532
504
195
978
505
714
548
937
60
988
335
70
500
918
158
217
620
748
194
120
249
498
801
302
787
170
521
573
269
996
304
761
73
467
826
271
586
573
377
241
370
384
906
716
19
249
166
232
823
649
897
733
184
386
227
459
372
705
134
228
118
799
993
953
438
579
194
896
399
971
74
521
695
552
858
648
124
857
721
874
2
768
782
443
235
630
373
979
436
282
799
249
191
909
469
860
24
73
683
874
374
375
692
955
821
737
899
928
108
630
469
171
42
996
500
611
49
342
255
746
606
545
345
611
34
620
876
134
549
914
547
49
78
26
184
235
340
249
822
135
385
979
467
826
757
816
814
841
0
290
843
376
710
537
11
673
118
235
687
123
951
927
858
418
373
401
753
312
379
19
427
56
984
654
696
505
461
135
289
235
990
435
996
988
150
701
863
459
398
196
871
120
331
873
938
84
406
857
212
911
403
657
774
216
798
929
383
399
443
179
108
346
851
341
890
630
744
753
427
555
443
110
107
472
749
900
706
896
73
217
610
473
834
573
85
405
538
379
504
189
545
941
731
681
494
26
9
460
544
182
171
383
339
472
573
383
851
753
949
0
910
588
318
170
623
642
864
674
331
438
704
711
38
984
327
384
411
24
867
38
813
33
979
624
123
799
279
909
153
249
721
997
681
107
461
841
537
42
993
198
591
906
452
19
302
534
719
301
797
865
60
438
178
418
988
406
92
92
124
535
450
851
400
170
783
385
232
126
227
232
795
591
792
644
215
42
194
9
126
126
96
681
705
906
966
895
430
166
361
591
661
662
864
95
864
688
748
590
753
793
949
871
417
312
935
535
140
705
403
124
648
398
2
937
287
887
798
219
740
871
65
213
686
725
49
150
195
866
171
249
361
725
224
757
978
673
748
685
628
984
76
422
935
681
775
982
695
424
508
210
688
817
430
401
975
811
359
753
64
511
190
422
621
106
500
224
538
962
661
135
493
741
661
212
264
472
196
997
329
158
463
934
473
798
497
590
435
725
604
104
504
710
537
909
662
191
73
375
269
492
34
373
974
918
301
636
460
483
495
173
510
710
499
186
866
798
865
909
377
510
544
850
694
154
143
982
449
857
57
538
363
851
688
993
219
59
725
954
657
706
504
545
20
753
532
636
884
783
966
34
470
26
688
123
134
126
709
832
124
783
683
762
164
906
93
759
383
783
706
828
85
247
480
267
748
496
974
858
555
624
211
991
282
611
579
70
331
335
995
103
166
673
85
701
639
821
789
487
897
41
876
477
28
61
61
194
330
719
666
188
190
532
24
620
777
996
167
204
292
85
391
844
272
871
482
896
606
626
934
135
990
164
482
681
493
590
103
660
253
410
711
376
348
578
110
893
386
589
870
769
267
267
20
339
911
9

In [8]:
for i in x:
    print(i)
    #that prints the value that is stored

771
228
639
971
192
336
24
864
466
590
92
60
242
477
227
415
940
745
948
749
302
960
939
61
482
300
545
880
547
249
391
700
143
644
905
317
462
249
60
471
106
24
960
819
346
65
121
513
427
42
768
625
228
624
815
652
373
78
832
210
26
290
465
909
544
951
883
725
722
650
42
587
450
377
424
330
626
168
117
413
905
19
792
647
95
85
383
621
134
406
431
405
611
991
324
887
938
501
348
500
279
294
503
844
342
459
734
430
370
306
979
827
467
256
407
444
558
433
463
28
34
548
193
757
934
347
249
846
897
625
150
744
45
376
166
135
857
534
644
481
41
219
505
372
464
202
851
772
644
557
292
816
37
130
339
684
111
798
759
302
810
271
178
976
918
541
90
417
334
861
373
896
109
355
907
582
34
38
725
798
593
443
660
532
753
816
990
674
874
753
851
705
49
196
124
623
52
304
345
816
805
496
622
274
212
384
579
480
68
173
274
166
630
552
550
492
241
606
307
661
51
182
426
995
832
204
816
253
198
27
814
504
110
561
269
403
330
370
103
411
24
790
153
772
9
103
246
124
274
685
590
996
367
731
776
686
34
689
81
832
789
384
622
697
851
992
995
857
954
255
885
170
0
851
788
621
784
430
251
9
461
241
508
556
109
331
504
681
61
740
192
807
631
427
480
142
239
435
754
247
481
2
662
993
182
55
602
761
227
895
683
235
741
938
929
577
162
340
379
974
101
645
353
167
663
62
168
196
924
46
139
834
418
108
782
493
108
679
390
44
797
783
649
74
51
298
312
530
329
49
526
866
72
418
339
153
264
112
708
949
77
164
505
906
69
534
687
296
183
977
706
103
864
580
636
487
400
249
108
802
623
575
799
579
966
399
648
931
142
782
121
885
11
710
814
681
951
585
909
504
858
783
702
893
377
544
436
838
758
548
899
658
502
251
197
307
422
112
427
161
859
658
73
216
108
205
363
826
81
126
211
605
477
342
128
598
801
754
982
990
650
191
88
683
824
446
799
851
789
383
460
171
385
3
791
899
940
213
509
386
194
267
666
188
301
50
334
904
311
212
56
110
406
792
446
781
726
823
817
557
41
862
443
188
849
941
520
892
662
579
410
639
378
525
817
611
49
876
951
92
719
104
269
960
217
26
198
495
256
858
497
731
998
936
28
719
57
624
801
311
692
126
986
813
452
630
112
427
123
226
230
625
272
61
718
706
567
537
694
711
824
311
366
777
498
701
400
602
170
911
184
346
318
81
48
470
748
860
788
629
280
135
762
584
186
297
876
710
130
545
913
105
837
327
994
893
616
771
96
737
89
267
469
797
235
918
798
423
179
725
928
884
904
588
424
44
190
708
733
525
131
184
418
894
482
232
796
699
19
766
535
171
422
970
749
716
331
658
85
91
866
318
231
641
26
841
511
395
795
505
979
720
64
304
451
86
154
699
658
928
190
189
359
272
870
593
621
845
195
800
372
187
616
789
865
935
177
748
573
728
239
41
821
177
973
717
721
895
528
446
999
398
355
126
666
867
395
730
280
625
537
70
799
228
890
363
709
81
20
137
500
464
340
654
11
789
775
602
713
472
499
927
194
610
850
447
376
845
341
452
988
673
982
988
628
890
473
33
843
49
460
979
673
521
578
929
191
363
384
309
107
134
906
890
219
302
372
84
7
886
783
250
184
879
359
994
167
815
984
610
943
191
235
194
386
671
301
885
787
95
157
816
289
994
45
457
900
67
496
962
648
873
611
29
975
178
901
123
931
711
556
249
714
748
971
416
984
287
696
438
940
74
282
59
886
494
107
911
774
993
642
184
632
626
640
612
646
40
951
901
866
769
219
135
335
312
219
469
356
699
327
867
348
909
118
124
716
179
510
250
297
589
976
501
399
393
680
398
302
726
862
941
502
215
120
170
857
585
464
374
450
953
507
209
828
393
700
974
620
586
654
63
73
828
405
704
538
997
32
438
910
267
516
866
727
447
996
303
141
793
589
268
918
535
399
937
688
184
966
374
591
341
955
120
555
624
996
777
88
521
686
224
247
341
443
562
361
732
925
158
449
401
985
863
85
299
294
871
657
768
857
400
894
517
934
93
792
92
383
681
285
978
223
238
211
711
914
545
491
662
695
375
128
140
497
13
514
533
288
460
236
500
674
483
640
966
240
858
897
876
746
225
150
914
30
103
532
917
24
171
217
76
924
813
186
361
604
395
335
9
965
182
227
490
935
706
822
724
232
403
459
880
644
811
871
461
688
154
549
279

<h3>Series and dict</h3>
<li> A dictionary will automatically be broken up into index and value pairs</li>
<li> In the following example, the index is ['a','b','c'] and the series contains [1,2,3]

In [9]:
x = {'a':1,'b':2,'c':3}
y=pd.Series(x)
print(y['b'])
#you can only search by the keys not the values

#i wonder if there is a way to search in a dictionary that will retrurn a list of keys 
#associated with a given value? like flip the x y thing

2

<h3>Series objects work like numpy ndarrays</h3>
<li>but with an independent index attached to the values of the array
<li>the index can be of any immutable data type

In [10]:
nums = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
names = np.array(('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'))
months = pd.Series(nums,index=names)
months['Mar']
#so I indexed the numbers by the months, when I call a month (the index
#aka the key to the month, it will print the associated number
#months

3

<h4>The index attribute returns the index associated with a series<h4>
<li> The data type associated with the index is "pandas index"

In [11]:
months.index #printing the series. objectgives the indices

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object')

<h3>Accessing data by row number</h3>
<li>Series objects are considered to be "ordered"
<li>So we can also access objects by row number

In [12]:
months[1]
#months is 1,2,3.... so the first object is 2 because ordering is 0,1...

2

<h4>And we can find the row number given an index value<p>
and then use that to access the data at that row</h4>

In [13]:
row = months.index.get_loc('Mar')
months.iloc[row]
#i is a command kinda thing, iloc

3

<h4>We can do numpy operations on a pandas series</h4>

<b>Scalar multiplication

In [14]:
months*2, #changes the value but the index associated remains unchanged

(Jan     2
 Feb     4
 Mar     6
 Apr     8
 May    10
 Jun    12
 Jul    14
 Aug    16
 Sep    18
 Oct    20
 Nov    22
 Dec    24
 dtype: int64,)

<b>addition

In [15]:
x=pd.Series([1,3,5,7,11])
z = pd.Series([1,2,3,4,5])
x+z

0     2
1     5
2     8
3    11
4    16
dtype: int64

<h4>provided the indexes match</h4>

In [16]:
nums = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
names = np.array(('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'))
months = pd.Series(nums,index=names)
things = ['partridge','turtle dove','french hen','calling birds','golden rings','geese','swans','milking maids',
                'dancing ladies','leaping lords','piping pipers','drumming drummers' ]
days_of_xmas = pd.Series(nums,things)
months + days_of_xmas

Apr                 NaN
Aug                 NaN
Dec                 NaN
Feb                 NaN
Jan                 NaN
Jul                 NaN
Jun                 NaN
Mar                 NaN
May                 NaN
Nov                 NaN
Oct                 NaN
Sep                 NaN
calling birds       NaN
dancing ladies      NaN
drumming drummers   NaN
french hen          NaN
geese               NaN
golden rings        NaN
leaping lords       NaN
milking maids       NaN
partridge           NaN
piping pipers       NaN
swans               NaN
turtle dove         NaN
dtype: float64

<h3>Timeseries objects</h3>
<li>Timeseries data in pandas is represented by a series
<li>Indexed by time
<li>A series can be read directly from a csv file
<li>And then the str date converted into a Timestamp object

In [17]:
gs_price_data = pd.read_csv("GS.csv",index_col="Date")
#that csv file does not exist in my folder

FileNotFoundError: File b'GS.csv' does not exist

In [18]:
gs_price_data.index[0]

NameError: name 'gs_price_data' is not defined

In [19]:
gs_price_data.index = pd.to_datetime(gs_price_data.index)

NameError: name 'gs_price_data' is not defined

In [20]:
gs_price_data.index[0]

NameError: name 'gs_price_data' is not defined

<h3>Accessing data using a Timestamp index</h3>
<li>Key values passed to the Series must be of type Timestamp
<li>We need to convert str time into Timestamps
<li>pd.to_datetime will do this for us (we could also use the datetime library)
<li>index.get_loc gets the row number corresponding to the timestamp
<li>and, finally .iloc[row_number] returns the data

In [21]:
dt = pd.to_datetime('2018-08-23')
row = gs_price_data.index.get_loc(dt)
gs_price_data.iloc[row]

NameError: name 'gs_price_data' is not defined

<h4>get_loc can find the 'nearest' or next ('backfill') or use the most recent ('pad')

In [22]:
dt = pd.to_datetime('2018-09-01')
row = gs_price_data.index.get_loc(dt,method="pad") #'nearest', 'pad', 'backfill'
gs_price_data.iloc[row]

NameError: name 'gs_price_data' is not defined

<h4>Statistics on a series</h4>

In [23]:
gs_price_data.mean()
#gs_price_data.std()
#gs_price_data.pct_change()

NameError: name 'gs_price_data' is not defined

<h1>pandas DataFrame</h1>
<li>2-Dimensional structure
<li>Columns can contain data of different types (like an Excel spreadsheet)
<li>Can contain an index (or indices)
<li>Columns (and indeces) can be named

<h3>Constructing a dataframe</h3>

In [24]:
df = pd.DataFrame([[11,22,13],[21,22,23]])
df

    0   1   2
0  11  22  13
1  21  22  23

In [25]:
df = pd.DataFrame([[11,22,13],[21,22,23]])
df.columns=['c1','c2','c3']
df.index = ['a','b']
df

   c1  c2  c3
a  11  22  13
b  21  22  23

In [26]:
df = pd.DataFrame([[11,22,13],[21,22,23]],index=['a','b'],columns=['c1','c2','c3'])
df

   c1  c2  c3
a  11  22  13
b  21  22  23

In [27]:
from datetime import date
date(2018,9,23)

datetime.date(2018, 9, 23)

In [28]:
tickers = ['AAPL','GOOG','GS']
dates = ['20180924','20180925']
data = np.zeros((2,3))
df = pd.DataFrame(data,index=dates,columns=tickers)
df

          AAPL  GOOG   GS
20180924   0.0   0.0  0.0
20180925   0.0   0.0  0.0

In [29]:
tickers = ['AAPL','GOOG','GS']
from datetime import date
dates = [date(2018,10,2),date(2018,10,3)]
data = np.zeros((2,3))
df = pd.DataFrame(data,index=dates,columns=tickers)
df

            AAPL  GOOG   GS
2018-10-02   0.0   0.0  0.0
2018-10-03   0.0   0.0  0.0

In [30]:
data = {'AAPL':[0.0,0.0],'GOOG':[0.0,0.0],'GS':[0.0,0.0]}
df = pd.DataFrame(data)
df.index = [date(2018,10,2),date(2018,10,3)]
df

            AAPL  GOOG   GS
2018-10-02   0.0   0.0  0.0
2018-10-03   0.0   0.0  0.0

<h3>Using an existing column as an index</h3>
<li>By default, pandas will return a copy with the index added
<li>Use the inplace parameter to do modify the df itself

In [31]:
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
print(df)
df.set_index('row_label',inplace=True)
print(df)
df = pd.DataFrame([['r1','00','01','02'],['r2','10','11','12'],['r3','20','21','22']],columns=['row_label','A','B','C'])
df.set_index('row_label',inplace=False)
print(df)

  row_label   A   B   C
0        r1  00  01  02
1        r2  10  11  12
2        r3  20  21  22
            A   B   C
row_label
r1         00  01  02
r2         10  11  12
r3         20  21  22
  row_label   A   B   C
0        r1  00  01  02
1        r2  10  11  12
2        r3  20  21  22

<h4>Pandas dataframes work like dictionaries</h4>
<li>Column names can be used to access a column as a series from a df

In [32]:
data = {'AAPL':[217.2,218.7],'GOOG':[1166.2,1161.5],'GS':[235.3,231.1]}
df = pd.DataFrame(data)
df.index = [date(2018,9,21),date(2018,9,24)]

In [33]:
df['AAPL']

2018-09-21    217.2
2018-09-24    218.7
Name: AAPL, dtype: float64

In [34]:
type(df['AAPL'])

pandas.core.series.Series

<h4>Single columns (with no spaces in their names) can also be accessed using the attribute syntax

In [35]:
df.AAPL

2018-09-21    217.2
2018-09-24    218.7
Name: AAPL, dtype: float64

<h4>Chained indexing leads to a specific cell in the table</h4>

In [36]:
df['AAPL'][date(year=2018,month=9,day=24)]

218.7

<h3>Selecting rows</h3>
<li>rows can be selected using the index df.loc[index_value]
<li>or using row number df.iloc[row_number]
<li>Note that both methods use dictionary like indexing!

In [37]:
df.loc[date(2018,9,21)]

AAPL     217.2
GOOG    1166.2
GS       235.3
Name: 2018-09-21, dtype: float64

In [38]:
df.iloc[0]

AAPL     217.2
GOOG    1166.2
GS       235.3
Name: 2018-09-21, dtype: float64

<h4>Accessing a specific value</h4>

In [ ]:
df['AAPL'].loc[date(2018,9,21)]
#df.loc[date(2018,9,21)]['AAPL']

<h4>Add a new column</h4>

In [ ]:
df['IONS'] = np.NaN
df

<h4>Selecting multiple columns</h4>
<li>Use a <b>list</b> containing the names of the desired rows

In [ ]:
df[['AAPL','GOOG']]

In [ ]:
df = pd.DataFrame([[11,22,13],[21,22,23]])
df.columns=['c1','c2','c3']
df.index = ['a','b']
df

<h4>Creating a new column using a pattern</h4>

In [ ]:
df['Mult3'] =np.where(df['c1']%3==0,1,0)
df

<h3>Slicing</h3>

In [ ]:
df = pd.DataFrame([[11,12,13,14,15],
                   [21,22,23,24,25],
                   [31,32,33,34,35],
                   [41,42,43,44,45],
                   [51,52,53,54,55]])
df.index =['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3','c4','c5']
df

In [ ]:
df.loc['r2':'r4']

In [ ]:
df.loc[:,'c2':'c4']

In [ ]:
df.loc['r2':'r4','c2':'c4']

In [ ]:
df.iloc[1:4,1:4]

<h3>Working with views and copies</h3>

In [ ]:
df = pd.DataFrame([[11,12,13,14,15],
                   [21,22,23,24,25],
                   [31,32,33,34,35],
                   [41,42,43,44,45],
                   [51,52,53,54,55]])
df.index =['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3','c4','c5']
df_new = df

<h4>df_new points to the same dataframe as df</h4>

In [ ]:
print(id(df),id(df_new))

<h4>Changes in df will result in a change in df_new</h4>

In [ ]:
df.loc['r3','c3'] = 99
df_new

<h4>To work with a copy, use .copy()</h4>

In [ ]:
df = pd.DataFrame([[11,12,13,14,15],
                   [21,22,23,24,25],
                   [31,32,33,34,35],
                   [41,42,43,44,45],
                   [51,52,53,54,55]])
df.index =['r1','r2','r3','r4','r5']
df.columns = ['c1','c2','c3','c4','c5']
df_new = df.copy()
df.loc['r3','c3'] = 99
df_new

<h1>Grouping functionality in Pandas</h1>
<li>Pandas allows grouping by value as well as grouping by functions

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'D' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three']})
df

<h3>Group by column values</h3>

In [ ]:
df.groupby('B')

In [ ]:
df.groupby('B').size()

<h3>Group by multiple columns</h3>

In [ ]:
df.groupby(['A','C']).size()

<h3>Grouping by function</h3>

In [ ]:
import pandas as pd
import numpy as np
people = pd.DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'], index=['Joe', 'Moe', 'Jill', 'Qing', 'Ariana'])
people

<li>We want to choose a column and group elements in the column into two categories
<li>A cell value less than 0, will belong to the group "Negative"
<li>A cell with value greater or equal to 0, will belong to the group "Positive"

<li>We need to write a function that takes a dataframe, a column, and a row index as arguments
<li>The three arguments together will point to a single value
<li>And we can test the value to see which group it belongs to
<li>And return the group label

In [ ]:
def GroupColFunc(df, ind, col):
    if df[col].loc[ind] < 0:
        return 'Negative'
    else:
        return 'Positive'

<li>Finally, we'll pass the function to groupby
<li>Just like groupby used the values foo, bar etc. to group the data,
<li>It will use the values returned by the function to group the data

In [ ]:
grouped = people.groupby(lambda x: GroupColFunc(people, x, 'a'))
grouped
#print(grouped.size())

<h3>Group statistics</h3>

In [ ]:
grouped.mean()
#grouped.std()
#grouped.count()
#grouped.cumcount()

#%matplotlib inline
#grouped.mean().plot(kind='bar')

<h3>Digression: Lambda functions</h3>
<li>Anonymous or "throw-away" functions
<li>Useful for dataframe operations
<li>Useful for defining functions for simple operations

In [ ]:
foo = lambda x,y: x+y
foo(2,3)

<h4>Example: We can change the sort parameter using a function</h4>

In [ ]:
x=[(1,2),(4,5),(3,3),(9,1)]
def sort_key(x):
    return x[1]
sorted(x,key=sort_key)

<h3>Or we can "inline" the function</h3>
<li>Makes it more readable

In [ ]:
x=[(1,2),(4,5),(3,3),(4,1)]
sorted(x,key=lambda x: x[1])

In [ ]:
x=[(1,2),(4,5),(3,3),(4,1)]
sorted(x,key=lambda x: x[0] + x[1])

<h2>Join, merge and concatenate dataframes</h2>
<li>Pandas will try to do a "good" operation

In [ ]:
df1 = pd.DataFrame([[1,2,3],[4,5,6]],index=['a','b'],columns=['A','B','C'])
df1

In [ ]:
df2 = pd.DataFrame([[7,8,9],[10,11,12]],index=['c','d'],columns=['A','B','C'])
df2

In [ ]:
pd.concat([df1,df2])

<h3>Concat can handle column mismatches</h3>

In [ ]:
df2 = pd.DataFrame([[7,8,9],[10,11,12]],index=['c','d'],columns=['K','B','C'])
df2

In [ ]:
pd.concat([df1,df2])

<h4>Concat works with multiple data frames and creates copies. Append appends to an existing dataframe</h4>

In [ ]:
df1.append(df2)

<h3>Join</h3>
<li>Pandas provides a full featured join (like SQL)
<li>https://pandas.pydata.org/pandas-docs/stable/merging.html

In [ ]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9],[10,11,12]],index=['a','b','c','d'],columns=['A','B','C'])
df1

In [ ]:
df2 = pd.DataFrame([[17,18,19],[101,111,121]],index=['c','d'],columns=['K','L','D'])
df2

In [ ]:
df1.join(df2)

<h1>Working with Pandas</h1>

In [41]:
pd.__version__

'0.23.0'

In [40]:
#installing pandas libraries
!source activate py36;pip install pandas --upgrade
#!source activate py36;pip install pandas-datareader --upgrade
#!pip install --upgrade html5lib==1.0b8

#There is a bug in the latest version of html5lib so install an earlier version
#Restart kernel after installing html5lib

Could not find conda environment: py36
You can list all discoverable environments with `conda info --envs`.

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/78/78/50ef81a903eccc4e90e278a143c9a0530f05199f6221d2e1b21025852982/pandas-0.23.4-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (14.6MB)
    100% || 14.7MB 2.0MB/s ta 0:00:011
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: numpy>=1.9.0 in /anaconda3/lib/python3.6/site-packages (from pandas) (1.14.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /anaconda3/lib/python3.6/site-packages (from pandas) (2018.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in /anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
Installing collected packages: pandas
  Found existing installation: pandas 0.23.0
    Uninstalling pandas-0.23.0:
      Successfully uninstalled pandas-0.23.0
Successfully installed pandas-0.23.4
You are using pip version 18.0, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

<h2>Imports</h2>

In [43]:
import pandas as pd #pandas library
from pandas_datareader import data #data readers (google, html, etc.)
#The following line ensures that graphs are rendered in the notebook
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt #Plotting library
import datetime as dt #datetime for timeseries support

<h2>Pandas datareader</h2>
<li>Access data from html tables on any web page</li>
<li>Get data from google finance</li>
<li>Get data from the federal reserve</li>
<li>Read csv files</li>

<h3>HTML Tables</h3>
<li>Pandas datareader can read a table in an html page into a dataframe
<li>the read_html function returns a list of all dataframes with one dataframe for each html table on the page

<h4>Example: Read tables from an html page</h4>

In [44]:
import requests
df_list = pd.read_html('https://www.x-rates.com/table/?from=USD&amount=1')
#df_list = pd.read_html("https://eresearch.fidelity.com/eresearch/goto/markets_sectors/landing.jhtml",flavor="bs4")
print(len(df_list))

2

<h4>The page contains two tables</h4>

In [ ]:
df1 = df_list[0]
df2 = df_list[1]
print(df1)
print(df2)

<h4>Note that the read_html function has automatically detected the header columns</h4>
<h4>If an index is necessary, we need to explicitly specify it</h4>

In [ ]:
df1

In [ ]:
df1.set_index('US Dollar',inplace=True)
print(df1)

<h4>Now we can use .loc to extract specific currency rates</h4>

In [ ]:
df1.loc['Euro','1.00 USD']

<h2>Getting historical stock prices from yahoo finance</h2>
Usage: DataReader(ticker,source,startdate,enddate)<br>

In [ ]:
from pandas_datareader import data as web
import datetime
start=datetime.datetime(2000, 1, 1)
end=datetime.datetime.today()
print(start,end)

#df = web.DataReader('IBM', 'yahoo', start, end)

In [ ]:
df

<h2>Datareader documentation</h2>
http://pandas-datareader.readthedocs.io/en/latest/</h2>

<h3>Working with a timeseries data frame</h3>
<li>The data is organized by time with the index serving as the timeline

<h4>Creating new columns</h4>
<li>Add a column to a dataframe
<li>Base the elements of the column on some combination of data in the existing columns
<h4>Example: Number of Days that the stock closed higher than it opened
<li>We'll create a new column with the header "UP"
<li>And use np.where to decide what to put in the column

In [ ]:
df['UP']=np.where(df['Close']>df['Open'],1,0)
df

<h3>Get summary statistics</h3>
<li>The "describe" function returns a dataframe containing summary stats for all numerical columns
<li>Columns containing non-numerical data are ignored

In [ ]:
df.describe()

<h4>Calculate the percentage of days that the stock has closed higher than its open</h4>

In [ ]:
df['UP'].sum()/df['UP'].count()

<h4>Calculate percent changes</h4>
<li>The function pct_change computes a percent change between successive rows (times in  timeseries data)
<li>Defaults to a single time delta
<li>With an argument, the time delta can be changed

In [ ]:
df['Close'].pct_change() #One timeperiod percent change

In [ ]:
n=13
df['Close'].pct_change(n) #n timeperiods percent change

<h3>NaN support</h3>
Pandas functions can ignore NaNs

In [ ]:
n=13
df['Close'].pct_change(n).mean()

<h3>Rolling windows</h3>
<li>"rolling" function extracts rolling windows
<li>For example, the 21 period rolling window of the 13 period percent change

In [ ]:
df['Close'].pct_change(n).rolling(21)

<h4>Calculate something on the rolling windows</h4>

<h4>Example: mean (the 21 day moving average of the 13 day percent change)

In [ ]:
n=13
df['Close'].pct_change(n).rolling(21).mean()

<h4>Calculate several moving averages and graph them</h4>

In [ ]:
ma_8 = df['Close'].pct_change(n).rolling(window=8).mean()
ma_13= df['Close'].pct_change(n).rolling(window=13).mean()
ma_21= df['Close'].pct_change(n).rolling(window=21).mean()
ma_34= df['Close'].pct_change(n).rolling(window=34).mean()
ma_55= df['Close'].pct_change(n).rolling(window=55).mean()

<h2>Plotting pandas series</h2>
<li>Pandas is tightly integrated with matplotlib, a graphing library
<li>All you need do is call 'plot' on any series
<li>When working on a jupyter notebook, add %matplotlib inline

In [ ]:
%matplotlib inline

In [ ]:
ma_8.plot()
ma_34.plot()

<h2>Linear regression with pandas</h2>
<h4>Example: TAN is the ticker for a solar ETF. FSLR, RGSE, and SCTY are tickers of companies that build or lease solar panels. Each has a different business model. We'll use pandas to study the risk reward tradeoff between the 4 investments and also see how correlated they are</h4>

In [ ]:
!source activate py36;pip install fix-yahoo-finance

In [ ]:
import datetime
import pandas_datareader.data as web
import fix_yahoo_finance as yf
start = datetime.datetime(2015,7,1)
end = datetime.datetime(2016,7,1)
solar_df = web.DataReader(['FSLR', 'TAN','RGSE','SPWR'],'yahoo', start,end)['Close']
#solar_df = web.get_data_yahoo(['FSLR', 'TAN','RGSE','SPWR'], start,end)

In [ ]:
solar_df

In [ ]:
solar_df = solar_df['Close']
solar_df

<h4>Let's calculate returns (the 1 day percent change)</h4>

In [ ]:
rets = solar_df.pct_change()
print(rets)

<h4>Let's visualize the relationship between each stock and the ETF</h4>

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.scatter(rets.FSLR,rets.TAN)

In [ ]:
plt.scatter(rets.RGSE,rets.TAN)

In [ ]:
plt.scatter(rets.SPWR,rets.TAN)

<h4>The correlation matrix</h4>

In [ ]:
solar_corr = rets.corr()
print(solar_corr)

<h3>Basic risk analysis</h3>
<h4>We'll plot the mean and std or returns for each ticker to get a sense of the risk return profile</h4>

In [ ]:
plt.scatter(rets.mean(), rets.std())
plt.xlabel('Expected returns')
plt.ylabel('Standard deviations')
for label, x, y in zip(rets.columns, rets.mean(), rets.std()):
    plt.annotate(
        label, 
        xy = (x, y), xytext = (20, -20),
        textcoords = 'offset points', ha = 'right', va = 'bottom',
        bbox = dict(boxstyle = 'round,pad=0.5', fc = 'yellow', alpha = 0.5),
        arrowprops = dict(arrowstyle = '->', connectionstyle = 'arc3,rad=0'))
plt.show()

<h2>Regressions</h2>
http://statsmodels.sourceforge.net/

<h3>Steps for regression</h3>
<li>Construct y (dependent variable series)
<li>Construct matrix (dataframe) of X (independent variable series)
<li>Add intercept
<li>Model the regression
<li>Get the results
<h3>The statsmodels library contains various regression packages. We'll use the OLS (Ordinary Least Squares) model

In [ ]:
import numpy as np
import statsmodels.api as sm
X=solar_df[['FSLR','RGSE','SPWR']]
X = sm.add_constant(X)
y=solar_df['TAN']
model = sm.OLS(y,X,missing='drop')
result = model.fit()
print(result.summary())

<h4>Finally plot the fitted line with the actual y values

In [ ]:
fig, ax = plt.subplots(figsize=(8,6))
ax.plot(y)
ax.plot(result.fittedvalues)